In [281]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

data = pd.read_csv('crime.csv')
df_or = pd.DataFrame(data)


#Some basic data cleaning here (ASK MUKESH ABOUT FURTHER DATA CLEANING)

#Remove empty data here (NaN)
df_or = df_or.dropna(subset = ['Population', 'City'])
df_or = df_or.drop('Unnamed: 13', axis=1)
df_or = df_or.drop(df_or.columns[4], axis = 1) #'Rape (revised definition)1'

#Remove commas from the numbers in all data
df_or = df_or.replace(',', '', regex=True)

#Renaming columns for consistency
df = df_or.rename({'Robbery':'robbery',
               df.columns[0]:'city',
               df.columns[1]:'population', 
               df.columns[2]:'violent crime',
               df.columns[3]:'murder',
               df.columns[4]:'rape',
               df.columns[6]:'assault',
               df.columns[7]:'property crime',
               df.columns[8]:'burglary',
               df.columns[9]:'larceny',
               df.columns[10]:'motor vehicle theft',
               df.columns[11]:'arson'}, 
               axis='columns')

#change murder and arson into integers instead of floats (remove decimals)
df['murder'] = df['murder'].astype(int)

#replace na values to 0 in column 'arson'
df['arson'] = df['arson'].apply(pd.to_numeric, errors='coerce').fillna(0, downcast='infer')

In [327]:
#converting all columns to integers instead of strings, this will allow us to use mathematical
#formulas on the data
df['population'] = df['population'].astype(int)
df['rape'] = df['rape'].astype(int)
df['assault'] = df['assault'].astype(int)
df['property crime'] = df['property crime'].astype(int)
df['burglary'] = df['burglary'].astype(int)
df['larceny'] = df['larceny'].astype(int)
df['motor vehicle theft'] = df['motor vehicle theft'].astype(int)
df['robbery'] = df['robbery'].astype(int)

#(ASK MUKESH) would this work        df = (df != df['city']).astype(int)
 
# As per instructions: Create new feature of population^2
df['population^2'] = np.power(df['population'], 2)

In [348]:
#as per instructions for robbery and murder: 
# "For this model, please use these variables to create categorical 
# features where values greater than 0 are coded 1, and values equal to 0 are coded 0."" 
df.murder[df.murder >= 1] = 1
df.murder[df.murder < 1] = 0

df.robbery[df.robbery >= 1] = 1
df.robbery[df.robbery < 1] = 0

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [349]:
df

,city,population,violent crime,murder,rape,robbery,assault,property crime,burglary,larceny,motor vehicle theft,arson,population^2
0,Adams Village,1861,0,0,0,0,0,12,2,10,0,0,3463321
1,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1,0,6640929
2,Akron Village,2846,3,0,0,0,3,16,1,15,0,0,8099716
3,Albany,97956,791,1,30,1,526,4090,705,3243,142,0,9595377936
4,Albion Village,6388,23,0,3,1,16,223,53,165,5,0,40806544
5,Alfred Village,4089,5,0,0,1,2,46,10,36,0,0,16719921
6,Allegany Village,1781,3,0,0,0,3,10,0,10,0,0,3171961
7,Amherst Town,118296,107,1,7,1,68,2118,204,1882,32,3,13993943616
8,Amityville Village,9519,9,0,2,1,3,210,16,188,6,1,90611361
9,Amsterdam,18182,30,0,0,1,18,405,99,291,15,0,330585124
10,Arcade Village,2053,0,0,0,0,0,39,3,35,1,0,4214809
11,Ardsley Village,4523,5,0,0,1,2,33,4,28,1,0,20457529
12,Asharoken Village,658,0,0,0,0,0,2,0,2,0,0,432964
13,Attica Village,2522,2,0,0,0,2,5,0,4,1,0,6360484
14,Auburn,27270,96,1,20,1,53,859,132,721,6,0,743652900
15,Avon Village,3333,1,0,0,1,0,25,3,20,2,0,11108889
16,Baldwinsville Village,7473,5,0,0,1,4,88,10,77,1,0,55845729
17,Ballston Spa Village,5418,8,0,0,1,5,94,16,78,0,1,29354724
18,Batavia,15374,57,0,7,1,37,559,103,454,2,0,236359876
19,Bath Village,5733,15,0,1,1,11,191,32,157,2,2,32867289
20,Bedford Town,17627,5,0,0,1,4,156,26,127,3,0,310711129
21,Bethlehem Town,34243,13,0,0,1,10,442,50,388,4,0,1172583049
22,Binghamton,46304,284,1,19,1,161,2349,525,1767,57,0,2144060416
23,Black River,1410,0,0,0,0,0,14,2,12,0,0,1988100
24,Blooming Grove Town,12001,8,0,1,0,7,99,20,72,7,0,144024001
25,Bolivar Village,1022,1,0,0,0,1,4,2,2,0,0,1044484
26,Bolton Town,2325,2,0,0,0,2,24,4,20,0,0,5405625
27,Boonville Village,2054,1,0,0,0,1,20,6,14,0,0,4218916
28,Brant Town,2065,4,0,0,1,3,31,9,20,2,0,4264225
29,Brewster,2358,0,0,0,0,0,13,3,10,0,0,5560164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,Tupper Lake Village,3642,3,0,0,0,3,83,22,59,2,0,13264164
319,Tuxedo Park Village,615,0,0,0,0,0,0,0,0,0,0,378225
320,Ulster Town,12195,14,0,3,1,9,437,25,410,2,0,148718025
321,Utica,61686,361,1,27,1,225,2528,449,1997,82,0,3805162596
322,Vestal Town,27980,16,0,2,1,8,571,39,523,9,0,782880400
323,Walden Village,6887,18,1,2,1,14,142,13,124,5,0,47430769
324,Wallkill Town,27940,40,0,3,1,21,767,91,650,26,1,780643600
325,Walton Village,3012,6,0,1,0,5,68,18,50,0,0,9072144
326,Warsaw Village,3453,6,0,1,0,5,78,5,73,0,0,11923209
327,Washingtonville Village,5828,2,0,0,1,1,58,5,51,2,0,33965584
328,Waterford Town and Village,8392,4,0,0,0,4,59,6,52,1,0,70425664
329,Waterloo Village,5175,11,0,0,1,8,194,23,169,2,0,26780625
330,Watertown,28179,109,0,12,1,81,1165,169,953,43,0,794056041
331,Watervliet,10245,26,1,3,1,11,242,58,163,21,0,104960025
332,Watkins Glen Village,1862,6,0,0,0,6,92,10,80,2,0,3467044
333,Waverly Village,4337,5,0,0,1,4,54,9,41,4,0,18809569
334,Webster Town and Village,43777,21,0,2,1,16,469,101,361,7,0,1916425729
335,Weedsport Village,1797,0,0,0,0,0,25,5,20,0,0,3229209
336,Wellsville Village,4574,11,0,1,0,10,164,32,129,3,1,20921476
337,Westhampton Beach Village,1732,2,0,0,0,2,44,4,37,3,0,2999824
338,West Seneca Town,44821,35,1,1,1,24,896,166,710,20,0,2008922041
339,Whitehall Village,2604,6,0,0,0,6,62,12,49,1,0,6780816
340,White Plains,57559,78,1,3,1,46,1232,77,1134,21,0,3313038481
341,Whitesboro Village,3733,4,0,0,0,4,36,14,21,1,0,13935289
342,Whitestown Town,9141,0,0,0,0,0,77,13,61,3,0,83557881
343,Woodbury Town,10685,3,0,0,1,1,541,9,529,3,0,114169225
344,Woodridge Village,829,7,0,0,0,7,17,8,9,0,0,687241
345,Woodstock Town,5931,2,0,0,0,2,58,13,45,0,0,35176761
346,Yonkers,199134,1036,1,25,1,615,2368,470,1662,236,10,39654349956
347,Yorktown Town,36643,15,0,0,1,13,334,45,287,2,0,1342709449