In [287]:
import pandas as pd
import numpy as np
import io
import glob
print(os.listdir("../Capstone"))

#os.walk

['.DS_Store', 'Training', 'CSVFiles', 'Cap.ipynb', '.ipynb_checkpoints', 'ft']

In [329]:
#Loop to read all our files and merge them in 1 dataset
#The csv file columns are split by semicolons, they are not actual columns
#seperate each column by locating the ";"

path = '../Capstone/ft/Images' #read our path
all_files = glob.glob(path + '/**/*.csv') #read from the csv files in the image folder

li = [] #empty list to fill

for filename in all_files:
    df_or = pd.read_csv(filename, sep=';', index_col=None, header=0) #read and organize our csv's
    li.append(df_or) #add what we read to the list

frame = pd.concat(li, axis=0, ignore_index=True) #concat lists into dataframe

In [323]:
#sort by our ClassID column, reset index

df1 = frame.sort_values(by = ['ClassId']).reset_index(drop = True)
df1.head()

          Filename  Width  Height  Roi.X1  Roi.Y1  Roi.X2  Roi.Y2  ClassId
0  00001_00013.ppm     36      36       5       6      31      31        0
1  00004_00004.ppm     59      62       6       5      54      57        0
2  00004_00005.ppm     59      63       5       5      54      58        0
3  00004_00006.ppm     59      66       5       6      54      60        0
4  00004_00007.ppm     63      68       6       6      57      62        0

In [324]:
#Remove unecessary columns
df = df1.drop(['Width', 'Height', 'Roi.X1', 'Roi.Y1', 'Roi.Y2', 'Roi.X2'], axis=1)

In [325]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39209 entries, 0 to 39208
Data columns (total 2 columns):
Filename    39209 non-null object
ClassId     39209 non-null int64
dtypes: int64(1), object(1)
memory usage: 612.7+ KB
None

          Filename  ClassId
0  00001_00013.ppm        0
1  00004_00004.ppm        0
2  00004_00005.ppm        0
3  00004_00006.ppm        0
4  00004_00007.ppm        0

In [327]:
import os
test = []

searchdir = r'../Capstone/ft/Images/'
count = 0

for root, dirs, files in os.walk(searchdir, topdown=True):
    for name in dirs:
      print(os.path.join(root, name))
    for name in files:
        (base, ext) = os.path.splitext(name) # split base and extension
        if ext in ('.ppm'):          # check the extension (read only ppm files)
            count += 1
            full_name = os.path.join(root, name) # create full path
            test.append(full_name)

print('\nTotal number of ppm files found: %d' % count)

../Capstone/ft/Images/00031
../Capstone/ft/Images/00009
../Capstone/ft/Images/00036
../Capstone/ft/Images/00000
../Capstone/ft/Images/00038
../Capstone/ft/Images/00007
../Capstone/ft/Images/00039
../Capstone/ft/Images/00006
../Capstone/ft/Images/00001
../Capstone/ft/Images/00008
../Capstone/ft/Images/00037
../Capstone/ft/Images/00030
../Capstone/ft/Images/00041
../Capstone/ft/Images/00012
../Capstone/ft/Images/00015
../Capstone/ft/Images/00023
../Capstone/ft/Images/00024
../Capstone/ft/Images/00040
../Capstone/ft/Images/00025
../Capstone/ft/Images/00022
../Capstone/ft/Images/00014
../Capstone/ft/Images/00013
../Capstone/ft/Images/00035
../Capstone/ft/Images/00032
../Capstone/ft/Images/00004
../Capstone/ft/Images/00003
../Capstone/ft/Images/00002
../Capstone/ft/Images/00005
../Capstone/ft/Images/00033
../Capstone/ft/Images/00034
../Capstone/ft/Images/00016
../Capstone/ft/Images/00029
../Capstone/ft/Images/00011
../Capstone/ft/Images/00027
../Capstone/ft/Images/00018
../Capstone/ft/Images/00020
../Capstone/ft/Images/00042
../Capstone/ft/Images/00021
../Capstone/ft/Images/00026
../Capstone/ft/Images/00019
../Capstone/ft/Images/00010
../Capstone/ft/Images/00017
../Capstone/ft/Images/00028

Total number of ppm files found: 39209

In [293]:
testframe = pd.DataFrame(test)

In [294]:
testframe['Filename'] = testframe[0]
testframe1 = testframe.drop(testframe.columns[0], axis=1)
testframe1.head()

                                      Filename
0  ../Capstone/ft/Images/00031/00015_00010.ppm
1  ../Capstone/ft/Images/00031/00015_00004.ppm
2  ../Capstone/ft/Images/00031/00004_00023.ppm
3  ../Capstone/ft/Images/00031/00009_00008.ppm
4  ../Capstone/ft/Images/00031/00018_00013.ppm